<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Lista de Órdenes de Trabajo</title>
    <!-- Vincula el archivo JavaScript -->
    <script src="/js/validaciones.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Gestor Taller Mecanico</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <!-- Agrega tus otros elementos de menú aquí -->
                    <li class="nav-item">
                        <a class="nav-link" href="/ordentrabajo">Orden De Trabajo</a>
                    </li>
                    <!-- Agrega tus otros elementos de menú aquí -->
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <h1>Lista de Órdenes de Trabajo</h1>
        </div>
        <div class="row">
            <div>
                <a th:href="@{/ordentrabajo/new}" class="btn btn-primary btn-sm mb3">Agregar Orden de Trabajo</a>
            </div>
            <form th:action="@{/ordentrabajo/filtrar}" method="get" class="mb-3">
                <!-- Filtro de fecha -->
                <div class="mb-3">
                    <label for="fecha" class="form-label">Fecha:</label>
                    <input type="date" id="fecha" name="fecha" class="form-control">
                </div>

                <!-- Botón para realizar la búsqueda -->
                <button type="submit" class="btn btn-primary">Buscar</button>
                <a th:href="@{/ordentrabajo}" class="btn btn-secondary">Limpiar Filtros</a>
            </form>
        </div>
        <br>
        <table class="table table-dark table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Servicios</th>
                    <th>Vehiculo</th>
                    <th>Cliente</th>
                    <th>Fecha de Creación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ordenTrabajo : ${ordentrabajo}">
                    <td th:text="${ordenTrabajo.id}"></td>
                    <td th:text="${ordenTrabajo.servicio != null ? ordenTrabajo.servicio.nombre : 'N/A'}"></td>
                    <td th:text="${ordenTrabajo.vehiculo != null ? ordenTrabajo.vehiculo.patente : 'N/A'}"></td>
                    <td th:text="${ordenTrabajo.cliente != null ? ordenTrabajo.cliente.nombre + ' ' + ordenTrabajo.cliente.apellido : 'N/A'}"></td>
                    <td th:text="${ordenTrabajo.fechaCreacion}"></td>
                    <td>
                        <a th:href="@{/ordentrabajo/editar/{id}(id=${ordenTrabajo.id})}" class="btn btn-info">Editar</a>
                        <a th:href="@{/ordentrabajo/{id}(id=${ordenTrabajo.id})}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
